**/build
**/dist
**/models/*.onnx
**/driver/*.exe
**/.git
**/.vscode
**/.stfolder
**/.stignore
**/gui/AutoLibraryResources.py
**/__pycache__
**/gui/AutoLibraryResource.py
**/gui/Ui_ALMainWindow.py
**/gui/Ui_ALConfigWidget.py
**/gui/translators/qtbase_zh_CN.qm
