.vscode/

.stfolder
.stignore

__pycache__/
build/
dist/

models/*.*
drivers/*.*
!models/*.md
!drivers/*.md
!templates/*.md
!templates/configs/*.md

src/gui/resources/ui/Ui_*.py
src/gui/resources/translators/qtbase_zh_CN.qm
src/gui/resources/ALResource.py

Main.spec